{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Your profile{% endblock %}
{% block content %}

    <table>
        {% if user.is_authenticated %}
            <p>{{ user.username }}</p>
            <p>{{ user.email }}</p>
            <p> {{ user.first_name }}</p>
            <p> {{ user.last_name }}</p>
        {% else %}
            <a class="btn btn-primary btn-sm" href="{% url 'login' %}" role="button">Login <i
                    class="fas fa-sign-in-alt"></i></a>
        {% endif %}
    </table>


{% endblock %}