
h3 {
    color: #000000;
}

table {
    border: 1px solid black;
}

.zlf {
    width: 150px;
    float: left;
    margin-right: 15px;
}

.desc {
    margin-left: 15px;
}

.finfo {
    width: 350px;
    margin-right: 100px;
}

a {
    color: black;
}

body, html {
    height: 100%;
}
.clock {
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translateX(-50%) translateY(-50%);*/
    /*margin-top: 8px;*/
    color: limegreen;
    font-family: FontAwesome;
    letter-spacing: 2px;


}
.natan {
    width: 461px;
    height: 614px;
}

.snapchat {
    width: 200px;
    height: 200px;
}

#odnatana {
    margin-left: 30px;
}


#meow_card_list {
    max-height: 800px;
    max-width: 600px;
}


#hello_homepage {
    background-image: url("https://wallpaperplay.com/walls/full/8/6/f/11394.jpg");
    background-repeat: no-repeat;
    background-position: center;



}
#zegar {
    margin-right: 100px;
    color: black;
}

#zdanie_homepage {
    background: rgba(53, 50, 50, 0.3);
    background-size: cover;
    color: whitesmoke;
}

#login_p {
    margin-left: 4px;
}


#navigationbar {
    margin-bottom: 30px;
}
#contact_div {
}
#logo {
    height: 45px;
    width: 45px;
}